{
    "RedditData": {
        "UserAgent": "macOS:github.com/mibzman/RedditDigest:v0.0.1 (by /u/mibzman)",
        "ClientID": "6Emi7BLxr5YmqQ",
        "ClientSecret": "t0Qb5cDS5jpKOwRIv2I4JTEDbkk",
        "Username": "mibzman",
        "Password": "Groklife6"
    },
    "UserEmail": "sam@moonlightnstuff.com",
    "EmailerConfig": {
        "URL": "smtp.gmail.com",
        "Port": 587,
        "SendingAddress": "no-reply@moonlightnstuff.com",
        "SendingPassword": "b7TaAe*>sadas"
    },
    "DailyDigests": [
        {
            "Subreddit": "todayilearned",
            "NumPosts": 5
        },
        {
            "Subreddit": "tumblr",
            "NumPosts": 7
        },
        {
            "Subreddit": "programmerHumor",
            "NumPosts": 5
        },
        {
            "Subreddit": "blackpeopletwitter",
            "NumPosts": 3
        },
        {
            "Subreddit": "whitepeopletwitter",
            "NumPosts": 3
        }
    ],
    "WeeklyWeekday": "Monday",
    "WeeklyDigests": [
        {
            "Subreddit": "ethereum",
            "NumPosts": 10
        },
        {
            "Subreddit": "surrealmemes",
            "NumPosts": 5
        },
        {
            "Subreddit": "kerbalspaceprogram",
            "NumPosts": 7
        },
        {
            "Subreddit": "SCP",
            "NumPosts": 8
        },
        {
            "Subreddit": "dogswithjobs",
            "NumPosts": 8
        },
        {
            "Subreddit": "spacex",
            "NumPosts": 5
        }
    ],
    "MonthlyDay": 1,
    "MonthlyDigests": [
        {
            "Subreddit": "daystrominstitute",
            "NumPosts": 10
        },
        {
            "Subreddit": "HFY",
            "NumPosts": 5
        }
    ]
}