{
	"RedditData": {
		"UserAgent": "",
		"ClientID": "",
		"ClientSecret": "",
		"Username": "",
		"Password": ""
	},
	"UserEmail": "",
	"EmailerConfig": {
		"URL": "",
		"Port": 587,
		"SendingAddress": "",
		"SendingPassword": ""
	},
	"DailyDigests": [
		{
			"Subreddit": "programmerhumor",
			"NumPosts": 5
		}
	],
	"WeeklyWeekday": "Monday",
	"WeeklyDigests": [
		{
			"Subreddit": "golang",
			"NumPosts": 5
		}
	],
	"MonthlyDay": 1,
	"MonthlyDigests": [
		{
			"Subreddit": "opensource",
			"NumPosts": 5
		}
	]
}
